<!-- @format -->

<% layout("/layouts/boilerplate")%>

<body>
  <div class="row mt-4">
    <div class="alert alert-danger col-6" role="alert">
      <p class="alert-heading" style="text-align: center"><%= err.message %></p>
      <!-- <p><%= err.stack %></p> -->
    </div>
  </div>
</body>
